<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BLOG</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link rel="stylesheet" href="/lib/jquery/jquery-ui.css">
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/fonts/css/font-awesome.min.css">
<link rel="stylesheet" href="/lib/fonts/css/ionicons.min.css">
<link rel="stylesheet" href="/lib/highlight.js/styles/default.css">
<link rel="stylesheet" href="/lib/adminlte/css/AdminLTE.min.css">
<link rel="stylesheet" href="/lib/adminlte/css/all-skins.min.css">
<link rel="stylesheet" href="/lib/iCheck/square/blue.css">
<link rel="stylesheet" href="/lib/toastr/toastr.css">
<link rel="stylesheet" href="/lib/pace/pace.css">

<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-ui.js"></script>
<script src="/lib/jquery/jquery.validate.js"></script>
<script src="/lib/jquery/jquery.validate.messages_cn.js"></script>
<script src="/lib/cookies/jquery.cookie.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/lib/fastclick/fastclick.js"></script>
<script src="/lib/highlight.js/lib/highlight.js"></script>
<script src="/lib/toastr/toastr.js"></script>
<script src="/lib/pace/pace.js"></script>
<script src="/lib/adminlte/js/app.min.js"></script>

<script>hljs.initHighlightingOnLoad();</script>

