<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BLOG</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/fonts/css/font-awesome.min.css">
<link rel="stylesheet" href="/lib/fonts/css/ionicons.min.css">
<link rel="stylesheet" href="/lib/adminlte/css/AdminLTE.min.css">
<link rel="stylesheet" href="/lib/adminlte/css/all-skins.min.css">
<link rel="stylesheet" href="/lib/iCheck/square/blue.css">

<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/cookies/jquery.cookie.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/lib/fastclick/fastclick.js"></script>
<script src="/lib/adminlte/js/app.min.js"></script>