<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{>head}}
</head>
<body class="hold-transition skin-red layout-boxed sidebar-mini">
    <div class="wrapper">
        {{>header}}
        {{>sidebarAdmin}}
        {{{body}}}
    </div>

    <div class="loader-wrapper">
        <div class="loader">
            <div class="loader-inner ball-spin-fade-loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    {{>footer}}

</body>
</html>