<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {{>head}}
  </head>
  <body class="hold-transition login-page">
    {{{body}}}
    
    {{>footer}}

    <script src="blog/login.js"></script>
  </body>
</html>