<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{>head}}
</head>
<body class="hold-transition skin-red layout-boxed sidebar-mini">
{{{body}}}

{{>footer}}

<script src="/lib/adminlte/js/app.min.js"></script>
<script src="/lib/adminlte/js/demo.js"></script>
<script src="/blog/blog.js"></script>
</body>
</html>