<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BLOG</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/fonts/css/font-awesome.min.css">
  <link rel="stylesheet" href="lib/fonts/css/ionicons.min.css">
  <link rel="stylesheet" href="lib/adminlte/css/AdminLTE.min.css">
  <link rel="stylesheet" href="lib/adminlte/css/all-skins.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">


  <div class="err-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        404 Error Page
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  </div>




<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
<script src="lib/fastclick/fastclick.js"></script>

<script src="lib/adminlte/js/app.min.js"></script>
<script src="lib/adminlte/js/demo.js"></script>

</body>
</html>
