<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BLOG</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/fonts/css/font-awesome.min.css">
  <link rel="stylesheet" href="lib/fonts/css/ionicons.min.css">
  <link rel="stylesheet" href="lib/adminlte/css/AdminLTE.min.css">
  <link rel="stylesheet" href="lib/adminlte/css/all-skins.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        500 Error Page
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">

      <div class="error-page">
        <h2 class="headline text-red">500</h2>
        <div class="error-content">
          <h1><i class="fa fa-warning text-red"></i> {{message}}</h3>
          <h2><i class="fa fa-warning text-red"></i> {{error.status}}</h3>
          <h3><i class="fa fa-warning text-red"></i> {{error.stack}}</h3>
        </div>
      </div>
    </section>
  </div>




<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/slimScroll/jquery.slimscroll.min.js"></script>
<script src="lib/fastclick/fastclick.js"></script>

<script src="lib/adminlte/js/app.min.js"></script>
<script src="lib/adminlte/js/demo.js"></script>

</body>
</html>
